/* 全局CSS定义 */
body{font-family:宋体;margin:0 auto;padding:0;background:#FFF;font-size:12px;color:#000;}
body > div{margin-right:auto;margin-left:auto;} 
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px}
h1 { display:none;}
h2 { font-size:12px;}
h3 { font-size:12px; font-weight:bold; margin:0; padding:0; float:left;}
strong { font-size:12px; margin:0; padding:0; font-weight:bold;}
h5 { font-size:16px; color:#FBFBFB; font-weight:bold;}
#ad_022 {padding-top:4px;}

/* 默认链接颜色 */
a{ outline-style:none; color:#004076; text-decoration:none}
a:hover{ color:#c00; text-decoration:underline;}

/* 广告 */
.banner { width:960px; height:90px; margin:0 auto 8px auto;}
/* 文字广告 */
.container { width:940px; height:18px; margin-bottom:8px; background-color:#ECF6FF; padding:8px 10px 0px 10px; margin-left:auto; margin-right:auto;}
.container a{padding:2px 6px 0 2px; color:#003399;text-decoration: underline;}
.container a:hover{text-decoration:underline; color:#c00;}


/*热门关键字-搜索 */
#Hot1 { width:960px; height:31px; margin-bottom:6px; background-color:#F7F7F7; border-bottom:1px solid #E2E2E2;  margin-left:auto; margin-right:auto;}
/* #Hot1 li { float:left; padding:0;}*/
#Hot1 li { padding:0;display:inline;} 
#Hot1 ul { list-style:none;}
#Hot1 span { float:left; padding-top:0px;}
* html #Hot1 span { float:left; padding-top:2px;}
*+ html #Hot1 span { float:left; padding-top:2px;}
#Hot1 a{padding:2px 6px 0 7px; color:#393939;}
#Hot1 a:hover{text-decoration:underline; color:#c00;}
.Hot1_lift { float:left; width:630px; height:16px; padding:11px 10px 0px 10px; color:#000;}
.Hot1_lift1 { width:60px; float:left;}
.Hot1_lift2 { width:569px; float:right; height:30px;}
.Hot1_fight { width:309px; height:26px; float:right; padding-top:4px;}
.Hot1_fight1 { width:240px; height:18px;}
.Hot1_fight2 { padding-left:6px; padding-top:0px;}

/* 首屏 */
#wrap { width:960px; margin:0 auto 8px auto;}
#wrap ul,li {list-style:none; padding:0; margin:0;}
#wrap .left { width:350px; float:left; border:1px solid #b2cfef; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat;}
#wrap .left .tit { text-align:center; padding:12px 6px 4px 6px; line-height:24px; color:#646464; border-bottom:1px solid #e6f1f9;}
#wrap .left .tit a{ color:#646464;}
#wrap .left .tit a:hover{text-decoration:none;color:#c00;}
#wrap .left .tit h2 { font-size:16px; font-weight:bold;}
#wrap .left .tit h2 a{ color:#004076;}
#wrap .left .tit h2 a:hover{text-decoration:underline;color:#c00;}
#wrap .left .list { background-image:url(/templets/cxyclub/img/le_bg1.gif); padding:8px 12px 0 12px; line-height:22px; font-size:14px; color:#004076;}
#wrap .left .list a{ color:#004076;}
#wrap .left .list a:hover{text-decoration:underline;color:#c00;}
#wrap .left .list li{ line-height:20px; margin-bottom:19px;}
#wrap .left .list p { font-size:12px; line-height:18px; color:#a8a8a8;}

#wrap .right { width:597px; float:right;}
#wrap .right .flash { width:340px; height:182px; float:left; border:1px solid #d0d0d0; padding:1px;}
#wrap .right .qian_yan { width:242px; height:186px; float:left; color:#004076; margin-left:11px; background: url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -154px;}
#wrap .right .qian_yan .tit { height:24px; padding:13px 14px 0 14px;}
#wrap .right .qian_yan .tit a{ color:#004076;}
#wrap .right .qian_yan .tit a:hover{text-decoration:underline;color:#c00;}
#wrap .right .qian_yan .tit h3 { float:left; font-weight:bold;}
#wrap .right .qian_yan .tit strong { float:left; font-weight:bold;}
#wrap .right .qian_yan .tit span { float:right;}
#wrap .right .qian_yan .list { line-height:24px; padding:0 12px;}

#wrap .right .so { width:597px; height:36px; float:left; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -350px; margin:8px 0;}
#wrap .right .so .so_l { width:330px; float:left; padding:14px 0 0 12px;}
#wrap .right .so .so_l a{ color:#000; padding:0 2px;}
#wrap .right .so .so_l a:hover{text-decoration:underline;color:#c00;}
#wrap .right .so .so_l h3 { font-weight:bold; color:#004076; float:left;}
#wrap .right .so .so_r { width:47px; height:25px; padding:7px 12px 0 0; float:right;}
#wrap .right .so .so_r1 { width:164px; height:25px; float:right; padding:7px 6px 0 0;}

#wrap .right .zi_xun { width:342px; float:left; border:1px solid #b2cfef;}
#wrap .right .zi_xun .tit { height:19px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -424px; padding:11px 12px 0 14px; color:#004076;}
#wrap .right .zi_xun .tit h3 { float:left; font-weight:bold;}
#wrap .right .zi_xun .tit strong { float:left; font-weight:bold;}
#wrap .right .zi_xun .tit span { float:right;}
#wrap .right .zi_xun .list { line-height:24px; padding:6px 12px 2px 12px; color:#004076;}
#wrap .right .zi_xun .tit1 { height:20px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -454px; padding:11px 12px 0 14px; color:#004076; margin-bottom:4px;}
#wrap .right .zi_xun .tit1 h3 { float:left; font-weight:bold;}
#wrap .right .zi_xun .tit1 strong { float:left; font-weight:bold;}
#wrap .right .zi_xun .tit1 span { float:right;}
#wrap .right .zi_xun .im { height:55px; padding:8px 12px 0 12px;}
#wrap .right .zi_xun .im .im_l { width:50px; height:50px; padding:1px; border:1px solid #d6d6d6; float:left;}
#wrap .right .zi_xun .im .im_r { width:254px; line-height:20px; float:right; color:#a8a8a8;}
#wrap .right .zi_xun .im .im_r span { line-height:16px;}
#wrap .right .zi_xun .note { height:18px; background-color:#f1f7fd; padding:12px 12px 0 12px; margin-top:10px;}/* Moz */   
* html #wrap .right .zi_xun .note{ margin-top:8px;} /* IE6 */   
*+html #wrap .right .zi_xun .note { margin-top:8px;} /* IE7 */
#wrap .right .zi_xun .note h3 { float:left; font-weight:bold; color:#004076;}
#wrap .right .zi_xun .note strong { float:left; font-weight:bold; color:#004076;}
#wrap .right .zi_xun .note a{ color:#000; padding:0 2px;}
#wrap .right .zi_xun .note a:hover{text-decoration:underline;color:#c00;}

#wrap .right .zhuan_ti { width:240px; float:left; margin-left:11px; border:1px solid #b2cfef;}
#wrap .right .zhuan_ti .tit { height:19px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -424px; padding:11px 12px 0 14px; color:#004076;}
#wrap .right .zhuan_ti .tit h3 { float:left; font-weight:bold;}
#wrap .right .zhuan_ti .tit strong { float:left; font-weight:bold;}
#wrap .right .zhuan_ti .tit span { float:right;}
#wrap .right .zhuan_ti .im { height:112px; padding:12px 11px 0 11px; background-color:#eef5fd;}
#wrap .right .zhuan_ti .im .im_l { width:104px; height:104px; float:left;}
#wrap .right .zhuan_ti .im .im_r { width:104px; height:104px; float:right;}
#wrap .right .zhuan_ti .im .im_l1 { width:100px; height:80px; padding:1px; border:1px solid #d6d6d6; background-color:#FBFBFB;}
#wrap .right .zhuan_ti .im .im_l2 { padding-top:8px; text-align:center;}
#wrap .right .zhuan_ti .im .im_l2 a{ color:#000; padding:0 2px;}
#wrap .right .zhuan_ti .im .im_l2 a:hover{text-decoration:underline;color:#c00;}
#wrap .right .zhuan_ti .list { line-height:24px; padding:7px 10px 6px 10px; color:#004076;}

#wrap .test { width:164px; height:20px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -394px;}

/* 第二屏 */
#wrap1 { width:960px; margin:0 auto 8px auto;}
#wrap1 .left { width:243px; float:left; border:1px solid #6ba3d0; background-color:#f3faff; padding-bottom:2px;}
#wrap1 .left .tit { height:20px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -486px; padding:12px 12px 0 17px; color:#004076;}
#wrap1 .left .tit h3 { float:left; font-weight:bold; color:#FFF;}
#wrap1 .left .tit span { float:right;}
#wrap1 .left .list { line-height:24px; padding:10px 10px 6px 10px; color:#004076;}
#wrap1 .left .list span { font-weight:bold;}
#wrap1 .left .tit1 { height:21px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -485px; padding:12px 12px 0 17px; color:#004076;}
#wrap1 .left .tit1 h3 { float:left; font-weight:bold; color:#FFF;}
#wrap1 .left .tit1 span { float:right;}

#wrap1 .mid { width:454px; float:left; margin-left:11px; }
#wrap1 .mid .min_l { width:224px; float:left;margin-left:1px;margin-top:1px;border-bottom:1px solid #d6d6d6; border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; }
#wrap1 .mid .min_l .tit { height:22px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -518px; padding:11px 12px 0 14px; color:#004076;}
#wrap1 .mid .min_l .tit h3 { float:left; font-weight:bold; font-family:Arial;}
#wrap1 .mid .min_l .im { height:82px; background:url(/templets/cxyclub/img/database_bg.gif) 0 -551px; padding:10px 9px 0 9px;}
#wrap1 .mid .min_l .im .im_l { width:83px; height:66px; float:left; padding:1px; border:1px solid #cfcfcf; background-color:#FBFBFB;}
#wrap1 .mid .min_l .im .im_r { width:110px; line-height:18px; color:#a8a8a8; float:right; padding-top:2px;}
#wrap1 .mid .min_l .im .im_r span { font-weight:bold;}
#wrap1 .mid .min_l .im .im_r span a{ color:#000;}
#wrap1 .mid .min_l .im .im_r span a:hover{text-decoration:underline;color:#c00;}
#wrap1 .mid .min_l .list { line-height:24px; padding:4px 10px 1px 6px; color:#004076;}
/*
#wrap1 .mid .min_r { width:224px; float:left; margin-left:1px;}
#wrap1 .mid .min_r .tit { height:22px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -518px; padding:11px 12px 0 14px; color:#004076;}
#wrap1 .mid .min_r .tit h3 { float:left; font-weight:bold; font-family:Arial;}
#wrap1 .mid .min_r .im { height:82px; background:url(/templets/cxyclub/img/database_bg.gif) 0 -551px; padding:10px 9px 0 9px;}
#wrap1 .mid .min_r .im .im_l { width:83px; height:66px; float:left; padding:1px; border:1px solid #cfcfcf; background-color:#FBFBFB;}
#wrap1 .mid .min_r .im .im_r { width:110px; line-height:18px; color:#a8a8a8; float:right; padding-top:2px;}
#wrap1 .mid .min_r .im .im_r span { font-weight:bold;}
#wrap1 .mid .min_r .im .im_r span a{ color:#000;}
#wrap1 .mid .min_r .im .im_r span a:hover{text-decoration:underline;color:#c00;}
#wrap1 .mid .min_r .list { line-height:24px; padding:4px 10px 1px 6px; color:#004076;}
*/
#wrap1 .right { width:242px; float:right; background-color:#eef5fd;}
#wrap1 .right .tit { height:20px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -643px; padding:16px 12px 0 14px; color:#004076;}
#wrap1 .right .tit h3 { float:left; font-weight:bold;}
#wrap1 .right .tit strong { float:left; font-weight:bold;}
#wrap1 .right .tit span { float:right;}
#wrap1 .right .list { line-height:24px; padding:5px 10px 0 12px; color:#004076;}
#wrap1 .right .tit1 { height:20px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -679px; padding:16px 12px 0 14px; color:#004076;}
#wrap1 .right .tit1 h3 { float:left; font-weight:bold;}
#wrap1 .right .tit1 strong { float:left; font-weight:bold;}
#wrap1 .right .tit1 span { float:right;}
#wrap1 .right .di { height:5px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -715px;}

#wrap2 { width:960px; margin:0 auto 18px auto;}
#wrap2 .left { width:472px; float:left; border:1px solid #d6d6d6;}
#wrap2 .left .tit { height:21px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -519px; padding:11px 12px 0 14px; color:#004076;}
#wrap2 .left .tit h3 { float:left; font-weight:bold;}
#wrap2 .left .tit strong { float:left; font-weight:bold;}
#wrap2 .left .tit span { float:right;}
#wrap2 .left .im { padding:12px 0 6px 0;}
#wrap2 .left .im a{ color:#000;}
#wrap2 .left .im a:hover{text-decoration:underline;color:#c00;}
#wrap2 .left .im .im_l { width:82px; float:left; padding-left:28px;}
#wrap2 .left .im .im_l1 { width:82px; height:116px;}
#wrap2 .left .im .im_l2 { padding:8px 0 4px 0; text-align:center;}

#wrap2 .right { width:472px; float:right; border:1px solid #d6d6d6;}
#wrap2 .right .tit { height:21px; background:url(/templets/cxyclub/img/database_bg.gif) no-repeat 0 -519px; padding:11px 12px 0 14px; color:#004076;}
#wrap2 .right .tit h3 { float:left; font-weight:bold;}
#wrap2 .right .tit span { float:right;}
#wrap2 .right .con { padding:12px 0 0 14px;}
#wrap2 .right .con .im { width:104px; float:left;}
#wrap2 .right .con .im1 { width:100px; height:80px; padding:1px; border:1px solid #cfcfcf; background-color:#FBFBFB;}
#wrap2 .right .con .im2 { line-height:18px; color:#a8a8a8; padding:6px 0 2px 2px;}
#wrap2 .right .con .im2 a{ color:#000;}
#wrap2 .right .con .im2 a:hover{text-decoration:underline;color:#c00;}
#wrap2 .right .con .list { width:330px; line-height:24px; float:right; padding:0 14px 4px 0; color:#004076;}

.foot { width:960px; height:26px; border-top:1px solid #000; margin:0 auto; padding-top:12px; text-align:center; font-family:Arial;}
.dle { clear:both;}